<%- include('./partials/head') %>
<nav>
    <button class="button-show-filters">show filter</button>
    <h2>filteren</h2>
    <h3>klassesn:</h3>
    <form class="clas-form">
        <ul>
            <li><label>
                    <input type="checkbox">
                </label><span>1d</span>
            </li>
            <li>
                <label>
                    <input type="checkbox">
                </label>
                <span>1E</span>
            </li>
            <li>
                <label>

                    <input type="checkbox">

                </label>
                <span>1F</span>
            </li>
        </ul>
    </form>
    <h3>gender:</h3>
    <form class="gender-form">
        <ul>
            <li><label>
                    <input type="checkbox">
                </label><span>man</span>
            </li>
            <li>
                <label>
                    <input type="checkbox">
                </label>vrouw
            </li>
            <li>
                <label>
                    <input type="checkbox">
                </label><span>nonbinear</span>
            </li>
        </ul>
    </form>
    <h3>gender:</h3>
    <form class="sort-form">
        <ul>
            <li><label>
                    <input type="checkbox">
                </label><span>naam a-z</span>
            </li>
            <li><label>
                    <input type="checkbox">
                </label><span>vrouw</span>
            </li>
            <li>
                <label>
                    <input type="checkbox">
                </label><span>nonbinear</span>
            </li>
        </ul>
    </form>

</nav>
<main>
    <h2>Students</h2>
    <section class="">

        <ul>  <% persons.forEach(person => { %>
                <li class="profile-data"><img class="size-avatar" src="<%= person.avatar%>" alt="avatar"><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
            <% }) %></ul>
    </section>
</main>


<%- include('./partials/foot') %>