<%- include('./partials/person-head') %>

<main>

    <section>

        <ul>

            <li>
                <dl>
                    <dt>Naam</dt>
                    <dd><%= person.name %></dd>
                    <dt>Achternaam</dt>
                    <dd><%= person.surname %></dd>
                    <dt>Squad</dt>
                    <dd><%= person.squad_id %></dd>
                </dl>
                <img src="<%= (person.avatar == '') ? 'images/placeholder.jpg' : person.avatar %>"
                     onerror="this.src='images/alternative.jpg'">
            </li>
            <li>
                <button>
                    <a href="/">Back</a>
                </button>
            </li>

        </ul>
        <h2>huide berichten</h2>
        <ul>
            <% messages.forEach(message =>{ %>
                <li><%= message %></li>
            <% }) %>
        </ul>

        <h3>laat uw bericht achter</h3>


        <form method="POST" action="/" class="chatbox">
            <label for="bericht">stuur je bericht
                <textarea id="bericht" required name="bericht">
        </textarea>
            </label>
            <button type="submit">verstuur je berichts</button>

        </form>
        <form method="POST" action="/person/<%= person.id %>">
            <% if (person.custom.like) { %>
                <button type="submit" name="actie" value="vind-ik-niet-leuk">ik vind het niet leuk</button>
            <% } else { %>
                <button type="submit" name="actie" value="vind-ik-leuk">ik vind het leuk</button>
            <% } %>
        </form>




    </section>

</main>

<%- include('./partials/foot') %>