<%- include('./partials/person-head') %>

<main>

    <section>

        <ul>

            <li>
                <dl>
                    <dt>Naam</dt>
                    <dd><%= person.name %></dd>
                    <dt>Achternaam</dt>
                    <dd><%= person.surname %></dd>
                    <dt>Squad</dt>
                    <dd><%= person.squad_id %></dd>
                </dl>
                <img src="<%= (person.avatar == '') ? 'images/placeholder.jpg' : person.avatar %>"
                     onerror="this.src='images/alternative.jpg'">
            </li>
            <li>
                <button>
                    <a href="/">Back</a>
                </button>
            </li>

        </ul>
        <h2>huide berichten</h2>
        <ul>
            <% messages.forEach(message =>{ %><!--de array word nu doorlopen -->
                <li><%= message %></li><!--iedere keer als er een niew bericht komt is er een niewe li-->
<!--            message is het bericht wat de gebruiker heeft ingevoerd-->
            <% }) %>
        </ul>

        <h3>laat uw bericht achter</h3>


        <form method="POST" action="/" class="chatbox"><!--action dat is de plek waar het naartoe moet in dit geval de zelfde pagina
        en post is de methode wat er moet gebeuren dus dat je code verzend in de array-->
            <label for="bericht">stuur je bericht
                <input type="hidden" name="id" value="<%= person.id %>">
                <textarea id="bericht" required name="bericht">
        </textarea>
<!--                ik heb name bericht genoemd want dit is noodzakelijk-->
            </label>
            <button type="submit">verstuur je berichts</button>

        </form>
        <form method="POST" action="/person/<%= person.id %>">
            <% if (person.custom.like) { %>
                <button type="submit" name="actie" value="vind-ik-niet-leuk">ik vind het niet leuk</button>
            <% } else { %>
                <button type="submit" name="actie" value="vind-ik-leuk">ik vind het leuk</button>
            <% } %>
        </form>




    </section>

</main>

<%- include('./partials/foot') %>