<%- include('./partials/person-head') %>


<main>
    <section class="bio">
        <img class="size-avatar" src="<%= person.avatar %>">
        <p class="information">over mij: <%= person.bio %></p>
        <p>website: <%= person.website %></p>
    </section>
    <section class="info">
        <h2><%= `${person.name} ` %><%= `${person.prefix} ` %><%= `${person.surname} ` %></h2>
        <p>Squad: <%= person.squad_id %>
    </section>
</main>


<%- include('./partials/foot') %>