<%- include('./partials/squad-head') %>
<nav class="filters">
    <button class="button-show-filters">show filter</button>
    <h2 class="hide">filteren</h2>
    <p>uw filters zijn :</p>

    <h3 class="hide">klassen:</h3>
    <form class="clas-form hide">
        <ul class="filters-ul">
            <li><label>
                    <input type="checkbox">
                </label><span>1d</span>
            </li>
            <li>
                <label>
                    <input type="checkbox">
                </label>
                <span>1E</span>
            </li>
            <li>
                <label>

                    <input type="checkbox">

                </label>
                <span>1F</span>
            </li>
        </ul>
    </form>

    <button class="filter-buttons" type="button">filter</button>
</nav>
<main class="layout-ipad-desktop">

    <section class="">
        <h2>Students</h2>
        <ul class="persons">
            <% persons.forEach(person => { %>
                <li class="profile-data"><img class="size-avatar" src="<%= person.avatar %>" alt="avatar is niet ingevoerd"><a
                            href="/person/<%= person.id %>"> <%= `${person.name} ` %> <%= `${person.prefix} ` %><%= person.surname %></a>,
                    squad_id <%= person.squad_id %>, persoonlijk id <%=`${person.id} `%></li>
            <% }) %>
        </ul>
    </section>

</main>
<%- include('./partials/foot') %>