<%- include('./partials/head') %>
<main class="MIndex">
    <!--    <section>-->

    <form  class="menu">
        <fieldset class="filter">
            <!--            hier-->
            <legend>Filter</legend>
            <p>klas</p>

            <label>
                <input type="checkbox" onclick="window.location.href='/squad/1d'"

                />1D
            </label>

            <label>
                <input type="checkbox" onclick="window.location.href='/squad/1e'"

                />1E
            </label>

            <label>
                <input type="checkbox" onclick="window.location.href='/squad/1f'"

                />1F
            </label>
            <p>geslacht</p>
            <label>
                <input type="checkbox" />Man
            </label>

            <label>
                <input type="checkbox" />Vrouw
            </label>
        </fieldset>

        <fieldset class="sort">
            <legend>Sorteren</legend>
            <p>Naam</p>

            <label>
                <input type="radio" />A-Z
            </label>

            <label>
                <input type="radio" />Z-A
            </label>

            <p>ID</p>
            <label>
                <input type="radio" />hoog-laag
            </label>

            <label>
                <input type="radio" />laag-hoog
            </label>
        </fieldset>
        <button type="submit" class="submit-searchbutton styling-filterbutton" >filter</button>
    </form>
    <form action="/zoeken" method="get" class="zoekvak">
        <label for="id" class="">geef je eigen id op die in de database staat
            <input type="search" name="id" class=""><!--ik zeg nu ga zoeken en als name geef ik mee dat het id is en dat daar op gezocht word-->
        </label>
        <button type="submit" class="submit-searchbutton styling-filterbutton" >zoeken</button>
    </form>

    <div class="buttons-list">
        <p>gebruik de knoppen om naar een klas te gaan en de zoekfunctie om jezelf op te zoeken met je id nummer</p>


        <a href="/">back</a>
    </div>






    <ul class="students">
        <% dataE.forEach(person => { %>
            <li>
                <dl>
                    <dt>Naam</dt>
                    <dd><a href="/person/<%= person.id %>"><%= person.name %></a></dd>
                    <dt>Achternaam</dt>
                    <dd><%= person.surname %></dd>
                    <dt>Squad</dt>
                    <dd><%= person.squad_id %></dd>
                    <dt>id nummer</dt>
                    <dd><%= person.id %></dd>

                </dl>
                <img src="<%= (person.avatar == '') ? '/images/placeholder.jpg' : person.avatar %>"
                     onerror="this.src='/images/alternative.jpg'">
            </li>
        <% }) %>
    </ul>

</main>
<%- include('./partials/foot') %>
